CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/.vs/Bingo/v15/ipch/AutoPCH/8f38dcc8168746dc/MAIN.ipch
/.vs/Bingo/v15/.suo
/.vs/Bingo/v15/ipch/AutoPCH/41805c23815790ad/MAIN.ipch
/.vs/Bingo/v15/Browse.VC.db
/.vs
